@page "{expenseId:int}"
@using System.Linq
@using Models.Accounts
@model Expenses.FlowTransferModel

@{
    var accountNames = Model.Accounts.Select(x => x.Name).ToList();
}

<div class="col-md-7 centered-form">
    <form method="post">
        <input asp-for="Transfer.FlowId" hidden/>
        <div class="row">
            <div class="col-md-12 col-sm-7 col-7">
                <h4 class="form-caption-sm">Пополнение статьи расходов &quot;@Model.Flow.Name&quot;</h4>
            </div>
        </div>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="col-md-12 col-sm-7 col-7">
                <div class="form-group">
                    <label asp-for="Transfer.AccountFrom" class="control-label"></label>
                    <autocomplete asp-for="Transfer.AccountFrom" value="@Model.Transfer.AccountFrom"
                                  value-list="@accountNames"/>
                    <span asp-validation-for="Transfer.AccountFrom" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-7 col-7">
                <div class="form-group">
                    <label class="control-label">Доступно:</label>
                    <input id="avail-balance" class="form-control money-input" autocomplete="off" 
                           value="@Model.AvailableBalance" disabled/>
                </div>
            </div>
            <div class="col-md-6 col-sm-7 col-7">
                <div class="form-group">
                    <label asp-for="Transfer.Amount" class="control-label"></label>
                    <input asp-for="Transfer.Amount" class="form-control money-input" autocomplete="off"/>
                    <span asp-validation-for="Transfer.Amount" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="form-group bottom-buttons-row">
            <input type="submit" value="Перевести" class="btn btn-outline-danger cursor-pointer"/>
            <a asp-page="./ExpenseFlows" class="btn btn-outline-primary cursor-pointer gapped">Отмена</a>
        </div>
    </form>

</div>

@section Scripts {
    <script>
        makeInputAutocomplete("Transfer.AccountFrom", null, updateAvailableBalance);
        makeInputNumeric("Transfer.Amount");

        var flowId = "@Model.Flow.Id";
        
        function updateAvailableBalance() {
            $("#avail-balance").val("-");
            sendAjax("/Expenses/FlowTransfer/"+flowId+"/?handler=accountbalance",
                $("#Transfer_AccountFrom").val(),
                function(result) {
                    $('#avail-balance').val(result);
                });
        }
    </script>
}