.header {
    display: flex;
    align-items: flex-start;
}

.header-buttons {
    margin-left: auto;
}

.table-header {
    margin-top: 35px;
    margin-bottom: 15px;
}

.amount-input {
    width: 90px;
    text-align: right;
}

.distribution-error {
    text-align: center;
    margin-right: 50px;
    margin-bottom: 40px;
}