.body-content {
    margin-top: 25px;
}

.navbar-nav .nav-item {
    font-size: 20px;
}

.navbar-brand {
    font-size: 24px;
}

a.edit-item-link {
    color: #444;
}

.expenses-header {
    font-size: 20px;
    font-weight: bold;
    padding-top: 4px;
}

.cashed-table {
    margin-top: 10px;
}

.form-caption {
    margin-bottom: 25px;
    padding-bottom: 10px;
    border-bottom: 1px dashed #909090;
}

.form-caption-bg {
    margin-bottom: 60px;
}

.form-caption-sm {
    margin-bottom: 30px;
}

.form-caption-xs {
    margin-bottom: 20px;
}

.column-header-col {
    padding-left: 0;
}

.expenses-subtotals {
    font-size: 12px;
}

.subtotals-placeholder {
    border-bottom: 1px dashed #909090;
}

.bottom-dashed-line {
    border-bottom: 1px dashed #909090;
}

.bill-items-font {
    font-size: 16px;
}

.subtotal-expenses-table{
    padding: 0;
    margin-top: 10px;
}

.expenses-sum {
    text-align: right;
}

.expenses-sum::after {
    content: "р."
}

.expenses-totals {
    margin-bottom: 30px;
    font-size: 14px;
}

.expenses-subtotals-row {
    margin-top: 3px;
}

.totals-caption {
    text-align: right;
    font-weight: 600;
}

.totals-caption-left {
    text-align: left;
    font-weight: 600;
}

.align-right {
    text-align: right;
}

.align-center {
    text-align: center;
}

.align-left {
    text-align: left;
}

.bill-expense-item {
    margin-right: 30px;
}

.lagger-text {
    font-size: lager;
}

.awesomplete-padding-fix {
    padding-left: 0;
    padding-right: 0;
}

.zero-paddings {
    padding-left: 0;
    padding-right: 0;
}

.bottom-buttons-row {
    margin-top: 30px;
}

.filter-caption {
    font-weight: bold;
    padding-top: 7px;
}

.cursor-pointer {
    cursor: pointer;
}

.centered-form {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.money-cell {
    text-align: right;
}

.money-input {
    text-align: center;
}

.gapped {
    margin-left: 10px;
    margin-right: 10px;
}

.gapped-left {
    margin-left: 10px;
}

.add-bill-validation-summary {
    text-align: center;
    margin-right: 50px;
    margin-bottom: 40px;
}

.addon-caption-container {
    font-size: 20px;
}

.addon-dtpicker-container {
    padding: 5px;
    border-left: none;
    border-right: none;
}

.addon-label-container {
    border-left: none;
    border-right: none;
    padding-right: 3px;
}

.addon-button-container {
    border-left: none;
    border-right: none;
    padding-left: 5px;
    padding-right: 5px;
}

.addon-terminator-container {
    border-left: none;
}

.hidden {
    display: none;
}