@page "{id:int}"
@model Products.EditCategoryModel

@{
    ViewBag.Title = "Товары";
}

<h4 class="form-caption-sm">Редактирование категории</h4>

<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input asp-for="Category.Id" hidden/>
    <div class="form-group">
        <div class="input-group">
            <input asp-for="Category.Category" placeholder="Введите название категории" class="form-control" autocomplete="off"/>
            <input type="submit" asp-page-handler="edit" class="input-group-addon btn btn-primary cursor-pointer" value="Сохранить"/>
            <delete-button class="input-group-addon btn btn-danger cursor-pointer" modal-id="#deleteModal" text="Удалить категорию"/>
        </div>
        <span asp-validation-for="Category.Category"></span>
    </div>

    @if (Model.Products.Count > 0)
    {
        <h5>Товары</h5>
        <table class="cashed-table table table-striped table-hover">
            <thead class="thead-dark">
            <tr>
                <th>
                    Номер
                </th>
                <th>
                    Название
                </th>
            </tr>
            </thead>
            <tbody>

            @for (int i = 0; i < Model.Products.Count; i++)
            {
                var product = Model.Products[i];
                <tr>
                    <td>@(i + 1)</td>
                    <td>
                        <a asp-page="./EditProduct" asp-route-id="@product.Id"
                           class="edit-item-link">@product.Name</a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    }
    else
    {
        <br/>
        <h5 style="margin-left: 10px;">Добавьте товары</h5>
    }

    <br/>
    <div class="row">
        <div class="col-md-8 col-sm-12 col-12">
            <div class="form-group">
                <div class="input-group">
                    <input asp-for="Category.AddProduct" placeholder="Введите название нового товара"
                           class="form-control" autocomplete="off"/>
                    <input type="submit" asp-page-handler="addproduct"
                           class="input-group-addon btn btn-outline-primary cursor-pointer" value="Добавить"/>
                </div>
                <span asp-validation-for="Category.AddProduct"></span>
            </div>
        </div>
    </div>

    <!-- Deletion modal -->
    <deletion-modal modal-id="deleteModal" caption="Удаление категории товаров" 
                    text="Удалить категорию с сохранением расходов и доходов по ней?
                          Или удалить ее полностью? Тогда операции по ней будут удалены также."
                    button-soft-text="Удалить с сохранением"
                    button-tought-text="Удалить полностью"
                    page-handler="delete"/>
</form>

@section Scripts {
    <script>
        activateLink("#productsLink");
    </script>
}