@page "{id:int}"
@model Products.EditProductModel

<div class="row">
    <div class="col-md-8 centered-form">
        <h4 class="form-caption-sm">@Model.Product.OriginalName</h4>
        <form method="post">
            <input asp-for="Product.CategoryId" hidden/>
            <input asp-for="Product.Id" hidden/>
            <input asp-for="Product.OriginalName" hidden/>
            <div class="row">
                <div class="form-group col-md-12 col-sm-12">
                    <input asp-for="Product.Name" class="form-control" autocomplete="off"/>
                    <span asp-validation-for="Product.Name"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-sm-8 col-9">
                    <div class="form-group">
                        <input type="submit" asp-page-handler="commit" class="btn btn-outline-danger cursor-pointer" value="Сохранить"/>
                        <a asp-page="./EditCategory" asp-route-id="@Model.Product.CategoryId" class="btn btn-outline-primary">Отмена</a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-3 align-right">
                    <delete-button modal-id="#deleteModal" text="Удалить товар"/>
                </div>
            </div>
            
            <!-- Deletion modal -->
            <deletion-modal modal-id="deleteModal" caption="Удаление товара"
                            text="Удалить товар с сохранением статистики расходов по нему?
                                  Или удалить его полностью? Тогда статистика по расходам будет удалена также."
                            button-soft-text="Удалить с сохранением"
                            button-tought-text="Удалить полностью"/>
        </form>
    </div>
</div>
