@page
@using Auth
@model AccessDeniedModel

@{
    ViewBag.Title = "Отказано в доступе";
}

<h4>Отказано в доступе</h4>
<div>
    Чтобы получить доступ к сервису, перейдите на страницу <a asp-page="./Login">входа в систему</a>.
</div>